.figure-back{
	display: none;
	width: 240px;
	font-family: "Give You Glory", cursive;
	font-size: 22px;
	color: #a7a0a2;
	position: absolute;
	top: 40px;
	left: 40px;
	transform: rotateY(180deg);
	transition: all 1s;
}

figure.current-figure{
	transform-origin: center;
	transition: all 1s;
}

figure.current-figure img,figure.current-figure h2{
	display: none;
}

figure.current-figure .figure-back{
	display: block;
}

ul li.translate-btn.active{
	transform: scale(1.8);
	-webkit-transform: scale(1.8);
	transition: all 1s;
}
ul li.active{
	transform: scale(1.8);
	-webkit-transform: scale(1.8);
	transition: all 1s;
}

ul li i.glyphicon{
	top: 2px;
	left: 2px;
	color: #fff;
	opacity: 0;
}
ul li.translate-btn.active i.glyphicon{
	opacity: 1;
}