.wrap{
	-webkit-perspective: 1000;
}

.photo{
	position: absolute;
	width: 320px;
	height: 360px;
	transition: all 1s;
	cursor: pointer;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
}

.photo-center{
	left: 50% !important;
	margin-left: -160px;
	top: 120px !important;
	transform: rotate(0deg) !important;
	z-index: 2;
}

.photo-wrap{
	width: 100%;
	height: 100%;
	padding: 40px;
	background: #fff;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	transition: all 1s;
}

.photo-wrap h2{
	text-align: center;
}

.side {
	width: 240px;
	position: absolute;
	top: 40px;
	left: 40px;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
}

.side p{
	font-family: "Give You Glory", cursive;
	font-size: 22px;
	color: #a7a0a2;
}

.side-front {
	transform: rotateY(0deg);
	-webkit-transform: rotateY(0deg);
}

.side-back {
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
}

.photo-front .photo-wrap{
	transform: rotateY(0deg);
	-webkit-transform: rotateY(0deg);
}

.photo-back .photo-wrap{
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
}

#switch {
	position: absolute;
	bottom: 30px;
	left: 50%;
	z-index: 100;
}

#switch li {
	display: inline-block;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: #999;
	margin: 10px;
}
#switch li.current-li{
	transform: scale(1.8);
	position: relative;
	top: -10px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
#switch li.current-li.turn-front{
	transform: rotateY(0deg) scale(1.8);
	transition: all 1s;
}
#switch li.current-li.turn-back{
	transform: rotateY(180deg) scale(1.8);
	transition: all 1s;
	background: #666;
}

@font-face{
     font-family:  'icons';
     src: url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.woff') format('woff');
}
#switch li.current-li i{
	color: #fff;
}
#switch li.current-li i:after{
	content: "\e095";
	font-family: 'icons';
}